/* Puritan Google Font */
@import url("https://fonts.googleapis.com/css2?family=Puritan:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Gill Sans", "Gill Sans MT", "Puritan", monospace;
}

select {
    -webkit-appearance: menulist-button;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    color: #000;
}

/* MOBILE UI */
.mobile {
    @apply w-full px-4 max-w-[400px];
}

/* if screen is larger than 400px */
@media (min-width: 400px) {
    .mobile {
        @apply px-0;
    }
}

/* CANVAS */
#stage {
    width: 400px;
    height: 400px;
    position: relative;
    /* border: 2px solid #000; */
}
#stage canvas {
    position: absolute;
}

#ui-canvas {
    z-index: 4;
}
#pinwheel-canvas {
    z-index: 3;
}
#input-canvas {
    z-index: 2;
}
#bg-canvas {
    z-index: 1;
}

/* BUTTONS */
.blade-button {
    @apply w-12 h-12 sm:w-14 sm:h-14 rounded-full bg-white border-4 transition;
}

.active {
    @apply outline-dashed bg-blue-500 text-white;
}
